<h1>New Post</h1>
<br>

<form action="/subs/:sub_id/posts" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="hidden" name="post[sub_id]" value="<%=params[:sub_id]%>">

  <label for="Title">Title</label>
  <input id="Title" type="text" name="post[title]" value="<%= @post.title %>">

  <br>

  <label for="URL">URL</label>
  <input id=URL type="text" name="post[url]" value ="<%= @post.url %>">

  <br>
  <label for="content">Content</label>
  <input id=Content type="text" name="post[content]" value ="<%= @post.content %>">

  <br>

  <input type="submit" value="Add Post">

</form>
