<h1><%= @post.title %> </h1>
<br>
<p><%= @post.url %></p>
<br>
<p><%= @post.content %></p>
<br>

<% if current_user && @post.user_id == current_user.id %>
  <%= link_to "Edit Post", edit_post_url(@post) %>
  <%= button_to "Delete Post", post_url(@post), method: :delete %>
<% end %>
